Package: com.lingua.tweak
Name: LinguaTweak
Version: 0.1.0
Architecture: iphoneos-arm64
Description: LinguaTweak - System-wide screen text toolkit
Maintainer: LinguaTweak
Author: LinguaTweak
Section: Tweaks
Depends: firmware (>= 17.0)
